@page "{id?}"
@model Store.Pages.Product.Index

<div class="card m-auto mt-2 mt-md-4 p-4" style="max-width: 1000px;">
    <div class="row">
        <div class="align-items-center col-12 col-md-6 d-flex justify-content-center mb-4">
            <img alt="@Model.ProductModel.Name" class="image-highlight" height="300px" src="@Model.ProductModel.ImageUrl" style="width: 100%;" width="400px"/>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
            <h2>@Model.ProductModel.Name</h2>
            <p class="mb-0">@Model.ProductModel.Description</p>
            <hr class="mb-4"/>
            <div class="d-flex flex-column gap-3">
                <div class="align-items-center d-flex gap-1" dir="ltr">
                    
                    @Html.DisplayNameFor(model => model.ProductModel.Categories):
                    @foreach (var category in Model.ProductModel.Categories) {
                        <a asp-page="/Category/Index" asp-route-id="@category.Id">@category.Name، </a>
                        <span class="material-symbols material-symbols-fill" style="font-size: 28px">
                            Category
                        </span>
                    }
                   
                </div>
                <div class="align-items-center d-flex gap-1">
                    <span class="material-symbols material-symbols-fill" style="font-size: 28px">
                        package_2
                    </span>
                    @Html.DisplayNameFor(model => model.ProductModel.StockQuantity):
                    @if (Model.ProductModel.StockQuantity < 10) {
                        <span class="text-danger">Only @Model.ProductModel.StockQuantity left on stock!</span>
                    }
                    else {
                        @Html.DisplayFor(model => model.ProductModel.StockQuantity)
                    }
                </div>
                <div class="align-items-center d-flex gap-1">
                    <span class="material-symbols material-symbols-fill" style="font-size: 28px">
                        scale
                    </span>
                    @Html.DisplayNameFor(model => model.ProductModel.ProductWeight):
                    @Html.DisplayFor(model => model.ProductModel.ProductWeight)
                </div>
            </div>
        </div>
    </div>
    <div class="align-items-center d-flex flex-column gap-2 mt-5">
        <span class="mb-2" style="color: #428bca; font-size: 1.2rem">£ @Model.ProductModel.Price </span>
        @if (Model.ProductModel.IsInCart) {
            <form asp-page-handler="RemoveCart" method="post">
                <input name="productId" type="hidden" value="@Model.ProductModel.Id"/>
                <button class="btn btn-danger btn-l d-flex gap-2 justify-content-center m-auto" type="submit">
                    <span class="material-symbols material-symbols-fill">
                        shopping_cart
                    </span>
                    <span>Remove from cart</span>
                </button>
            </form>
        }
        else {
            @if (Model.ProductModel.StockQuantity > 0) {
                <form asp-page-handler="AddToCart" method="post">
                    <input name="productId" type="hidden" value="@Model.ProductModel.Id"/>
                    <button class="btn btn-l btn-primary d-flex gap-2 justify-content-center m-auto" type="submit">
                        <span class="material-symbols material-symbols-fill">
                            shopping_cart
                        </span>
                        <span>Add To Cart</span>
                    </button>
                </form>
            }
            else {
                <span class="text-secondary" style="font-size: 1.2rem">Not In Stock</span>
            }
        }
    </div>
</div>