@page
@model Store.Areas.Admin.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete Product";
}

<div class="card m-auto" style="max-width: 900px">
    <div class="bg-danger card-header text-center text-white" style="font-size: 1.1rem">@ViewData["Title"]</div>
    <div class="card-body p-4">

        <div class="flex-column-reverse flex-md-row row">
            <dl class="col col-md-8 row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Product.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Product.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Product.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Product.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Product.ProductCategories)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Product.ProductCategories)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Product.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Product.Price)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Product.StockQuantity)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Product.StockQuantity)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Product.ProductWeight)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Product.ProductWeight)
                </dd>
            </dl>
            <div class="align-items-center col col-md-4 d-flex justify-content-center my-2">
                <img alt="Image of @Model.Product.Name" class="image-highlight product-image" height="250px" src="@Model.Product.Image" width="250px" />
            </div>
        </div>
        <div>
            <form method="post">
                <input asp-for="Product.Id" type="hidden" />
                <input class="btn btn-danger" type="submit" value="Delete Product" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>

    </div>
</div>
