@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Store.Models
@model Store.Areas.Admin.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Members Area";
}

<div class="card m-auto">
    <div class="card-header p-2 text-center" style="font-size: 1.4rem">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <table class="table table-mobile-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].DisplayId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Roles)
                    </th>
                    <th>
                        Orders
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td style="max-width: 250px;">
                            @Html.DisplayFor(modelItem => item.Roles)
                        </td>
                        <td>
                            <ul>
                                @foreach (var order in item.Orders)
                                {
                                    
                                    <li>Order Number: @order.Id</li>
                                 <!--   <li>Product ID: @order.ProductId</li> -->
                                   
                                    <li>Total Price: £@order.TotalPrice</li>
                                    <a asp-page="..\Products\Details" asp-route-id="@order.ProductId">View Order Details
                                    </a>

                                }
                            </ul>
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">User Details</a>
                            @if (item.CanDelete)
                            {
                                <a asp-page="./Delete" asp-route-id="@item.Id" class="text-danger">Delete User</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var paginationModel = new Pagination
            {
                PageIndex = Model.PageIndex,
                PageLimit = Model.PageLimit,
                TotalItems = Model.TotalItems,
                IsValidPage = Model.IsValidPage,
                MainPageLink = "./Index",
            };
        }
        <partial model="@paginationModel" name="_Pagination" />
    </div>
</div>
