@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Store.Models
@model Store.Areas.Admin.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Orders";
}

<div class="card m-auto">
    <div class="card-header p-2 text-center" style="font-size: 1.4rem">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <table class="table table-mobile-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items[0].Username)
                    </th>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Product ID
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th>
                        Details
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    foreach (var order in item.Orders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @order.Id
                            </td>
                            <td>
                                @order.ProductId
                            </td>
                            <td>
                                £@order.TotalPrice
                            </td>
                            <td>
                                <a asp-page="..\Products\Details" asp-route-id="@order.ProductId">
                                    View Order Details
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{
            var paginationModel = new Pagination
            {
                PageIndex = Model.PageIndex,
                PageLimit = Model.PageLimit,
                TotalItems = Model.TotalItems,
                IsValidPage = Model.IsValidPage,
                MainPageLink = "./Index",
            };
        }
        <partial model="@paginationModel" name="_Pagination" />
    </div>
</div>
