@page
@model Store.Areas.Admin.Pages.IndexModel;

<div class="d-flex flex-column gap-5">
    <div class="d-flex flex-wrap gap-3 justify-content-center justify-content-md-start mt-4 ">
        @* Total Sales *@
        <div class="card shadow-sm" style="width: 300px; border-top: 5px solid #126efb">
            <div class="align-items-center card-body d-flex flex-row justify-content-around">
                <div class="align-items-center bg-primary-subtle d-flex justify-content-center rounded-circle" style="width: 75px; height: 75px">
                    <span class="material-symbols material-symbols-outlined" style="font-size: 2.8rem; color: #126efb">
                        point_of_sale
                    </span>
                </div>
                <div class="align-items-center d-flex flex-column">
                    <span class="fw-bold" style="font-size: 2rem">@Model.InfoModel.TotalSales</span>
                    <span style="font-size: 0.9rem">Total Sold Products</span>
                </div>
            </div>
        </div>

        @* Total Products In Cart *@
        <div class="card shadow-sm" style="width: 300px; border-top: 5px solid #fb1212">
            <div class="align-items-center card-body d-flex flex-row justify-content-around">
                <div class="align-items-center d-flex justify-content-center rounded-circle" style="width: 75px; height: 75px; background-color: #ffcfcf">
                    <span class="material-symbols material-symbols-outlined" style="font-size: 2.8rem; color: #fb1212">
                        shopping_bag
                    </span>
                </div>
                <div class="align-items-center d-flex flex-column text-center">
                    <span class="fw-bold" style="font-size: 2rem">@Model.InfoModel.TotalProductsInCart</span>
                    <span style="font-size: 0.9rem">Total Products in User Carts</span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap gap-4 justify-content-evenly text-center">
        @* ContactUs Messages *@
        <div class="card mb-3 text-bg-primary" style="max-width: 18rem; min-width: 260px">
            <div class="card-header" style="font-size: 1.2rem">Number of Messages</div>
            <div class="card-body position-relative py-3">
                <span class="card-icon material-symbols material-symbols-outline opacity-50 position-absolute">
                    chat
                </span>
                <span class="position-relative" style="font-size: 2.5rem;top: 4px;right: -34px;">@Model.InfoModel.NumOfMessages</span>
            </div>
            <a asp-page="./ContactUs/Index" class="btn btn-lg btn-primary rounded-0" style="font-size: 1rem; background-color: #0a54c3">
                <div class="d-flex flex-row gap-2 justify-content-center">
                    View Messages
                    <span class="material-symbols material-symbols-fill" style="font-size: 22px;"> arrow_circle_left </span>
                </div>
            </a>
        </div>

        @* Members *@
        <div class="card mb-3 text-bg-warning" style="max-width: 18rem; min-width: 260px">
            <div class="card-header" style="font-size: 1.2rem">Number of Members</div>
            <div class="card-body position-relative py-3">
                <span class="card-icon material-symbols material-symbols-outline opacity-50 position-absolute">
                    group
                </span>
                <span class="position-relative" style="font-size: 2.5rem;top: 4px;right: -34px;">@Model.InfoModel.NumOfMembers</span>
            </div>
            <a asp-page="./Members/Index" class="btn btn-lg rounded-0 text-white" style="font-size: 1rem; background-color: #cf9d05">
                <div class="d-flex flex-row gap-2 justify-content-center">
                    View Members
                    <span class="material-symbols material-symbols-fill" style="font-size: 22px;"> arrow_circle_left </span>
                </div>
            </a>
        </div>

        @* Categories *@
        <div class="card mb-3 text-white" style="max-width: 18rem; min-width: 260px; background-color: #0db0d1">
            <div class="card-header" style="font-size: 1.2rem">Number of Categories</div>
            <div class="card-body position-relative py-3">
                <span class="card-icon material-symbols material-symbols-outline opacity-50 position-absolute">
                    category
                </span>
                <span class="position-relative" style="font-size: 2.5rem;top: 4px;right: -34px;">@Model.InfoModel.NumOfCategories</span>
            </div>
            <a asp-page="./Categories/Index" class="btn btn-lg rounded-0 text-white" style="font-size: 1rem; background-color: #02819b">
                <div class="d-flex flex-row gap-2 justify-content-center">
                    Manage Categories
                    <span class="material-symbols material-symbols-fill" style="font-size: 22px;"> arrow_circle_left </span>
                </div>
            </a>
        </div>

        @* Products *@
        <div class="card mb-3 text-bg-success" style="max-width: 18rem; min-width: 260px">
            <div class="card-header" style="font-size: 1.2rem">Number of Products</div>
            <div class="card-body position-relative py-3">
                <span class="card-icon material-symbols material-symbols-outline opacity-50 position-absolute">
                    deployed_code
                </span>
                <span class="position-relative" style="font-size: 2.5rem;top: 4px;right: -34px;">@Model.InfoModel.NumOfProducts</span>
            </div>
            <a asp-page="./Products/Index" class="btn btn-lg rounded-0 text-white" style="font-size: 1rem; background-color: #12653e">
                <div class="d-flex flex-row gap-2 justify-content-center">
                    View Products
                    <span class="material-symbols material-symbols-fill" style="font-size: 22px;"> arrow_circle_left </span>
                </div>
            </a>
        </div>
    </div>
</div>
