@page
@model Index
@{
    ViewData["Title"] = "Cart";
    Layout = "_Layout";
    var error = ModelState.Any();
}

@if (Model.PageModel.Carts.Any()) {
    <div class="d-flex flex-column flex-md-row gap-3 m-md-4 mt-4">
        <div class="flex-grow-1">
            @for (var i = 0; i < Model.PageModel.Carts.Count; i++) {
                var cart = Model.PageModel.Carts[i];
                var lastItem = i == Model.PageModel.Carts.Count - 1;
                var canDecrease = cart.Quantity > 1;
                var canIncrease = cart.Product.StockQuantity - cart.Quantity > 0;

                <div class="@(lastItem ? "" : "border-bottom-0") card rounded-0">
                    <div class="card-body">
                        @if (i == 0) {
                            <div class="d-flex flex-column gap-2 mb-4">
                                <span class="fw-bold">Shopping Cart</span>
                                <span class="small text-secondary">@Model.PageModel.Carts.Count </span>
                            </div>
                        }

                        <div class="column-gap-4 d-grid row-gap-3" style="grid-template-columns: 135px 1fr;">
                            <a asp-page="/Product/Index" asp-route-id="@cart.Product.Id">
                                <img alt="@cart.Product.Name" class="rounded-1" height="135px" src="@cart.Product.Image" width="135px"/>
                            </a>
                            <div class="d-flex flex-column gap-2 justify-content-center" style="font-size: 0.9rem">
                                <div>
                                    <span class="fw-bold">@Html.DisplayNameFor(model => model.PageModel.Carts[0].Product.Name)</span>:
                                    <span>@Html.DisplayFor(model => cart.Product.Name)</span>
                                </div>
                                <div class="text-secondary">
                                    <span class="fw-bold">@Html.DisplayNameFor(model => model.PageModel.Carts[0].Product.Description)</span>:
                                    <span>@Html.DisplayFor(model => cart.Product.Description)</span>
                                </div>
                                <div class="text-secondary">
                                    <span class="fw-bold">£ @Html.DisplayNameFor(model => model.PageModel.Carts[0].Product.Price)</span>:
                                    <span>£ @Html.DisplayFor(model => cart.Product.Price)</span>
                                </div>
                                @if (cart.Product.StockQuantity < 10) {
                                    <div class="small text-danger">
                                      Stock:  @cart.Product.StockQuantity 
                                    </div>
                                }
                            </div>
                            <div class="align-items-center border d-flex gap-1 justify-content-evenly py-2 rounded-3 user-select-none">
                                <form asp-page-handler="IncreaseCart">
                                    <input name="cartId" type="hidden" value="@cart.CartId"/>
                                    <button class="bg-white border-0 d-flex p-0" type="submit" @(!canIncrease ? "disabled" : "")>
                                        <span class="material-symbols material-symbols-outlined @(canIncrease ? "text-primary" : "text-secondary")">
                                            add
                                        </span>
                                    </button>
                                </form>
                                <div class="align-items-center d-flex flex-column justify-content-center">
                                    <span>@cart.Quantity</span>
                                    @if (!canIncrease) {
                                        <span class="text-secondary" style="font-size: 0.8rem"></span>
                                    }
                                </div>
                                <div class="align-items-center d-flex">
                                    <form asp-page-handler="DecreaseCart">
                                        <input name="cartId" type="hidden" value="@cart.CartId"/>
                                        <button class="bg-white border-0 d-flex p-0" type="submit" @(!canDecrease ? "disabled" : "")>
                                            <span class="material-symbols material-symbols-outlined @(canDecrease ? "text-danger" : "text-secondary")">
                                                remove
                                            </span>
                                        </button>
                                    </form>
                                    <form asp-page-handler="DeleteCart">
                                        <input name="cartId" type="hidden" value="@cart.CartId"/>
                                        <button class="bg-white border-0 d-flex p-0" type="submit">
                                            <span class="material-symbols material-symbols-outlined text-danger" style="font-size: 1.3rem">
                                                delete
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="align-items-center d-flex">
                                <span>@Html.DisplayFor(model => cart.TotalPrice) </span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <span asp-validation-for="PageModel.Carts[i].Quantity" class="small text-danger">Quantity</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="div-order">
            <div class="d-flex flex-column gap-2 position-sticky" style="top: 100px">
                <div class="card">
                    <div class="card-body d-flex flex-column gap-4">
                        <div class="align-items-center d-flex flex-row justify-content-evenly">
                            <span>£@Html.DisplayFor(model => model.PageModel.TotalPrice) </span>
                            <span>@Html.DisplayNameFor(model => model.PageModel.TotalPrice)</span>
                            
                        </div>
                        <div>
                            <form method="post" asp-page="/Checkout">
                                <button class="btn btn-lg btn-primary text-white" style="width: 100%" @(error ? "disabled" : "") type="submit">Buy Now</button>
                            </form>
                        </div>

                    </div>
                </div>
                <span class="small text-center text-secondary"></span>
            </div>
        </div>
    </div>
}
else {
    <div class="card m-auto mt-5 p-5" style="max-width: 900px;">
        <div class="align-items-center card-body d-flex flex-column gap-3">
            <div class="align-items-center d-flex flex-column gap-1">
                <span class="material-symbols material-symbols-outlined" style="font-size: 7rem">
                    Shop
                </span>
                <h2></h2>
                <p></p>
            </div>
            <a asp-area="" asp-page="/Index" class="btn btn-primary text-white">Shop Now</a>
        </div>
    </div>
}