@page "{id?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Store.Models
@model Store.Pages.Category.Index

<div class="card m-auto my-5" style="max-width: 1200px;">
    <div class="bg-white card-header px-0 py-0" style="font-size: 1.3rem">
        <div class="category-title py-3 text-center text-white">@Model.CategoryName</div>
    </div>
    <div class="card-body d-flex flex-wrap gap-5 justify-content-center py-4">
        @foreach (var product in Model.Items) {
            <div class="card card-product pb-3" style="width: 230px;">
                <a asp-page="/Product/Index" asp-route-id="@product.ProductId">
                    <img alt="@product.Name" class="card-img-top" height="200px" src="@product.ImageUrl" style="max-height: 200px;" width="100%">
                    <div class="card-body text-center text-secondary">
                        <h5 class="card-title" style="font-size: 1.1rem">@product.Name</h5>
                        <p class="card-text" style="font-size: 1rem; height: 72px">@product.Description</p>
                        <div class="align-items-center d-flex flex-column gap-1 justify-content-center mt-3" style="height: 50px">
                            <span style="color: #428bca">£ @product.Price </span>
                            @if (product.StockQuantity < 10) {
                                <span class="small text-danger" style="font-size: 0.82rem">Only @product.StockQuantity Left Only</span>
                            }
                        </div>

                    </div>
                </a>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center mb-3">
        @{
            var paginationModel = new Pagination {
                PageIndex = Model.PageIndex,
                PageLimit = Model.PageLimit,
                TotalItems = Model.TotalItems,
                IsValidPage = Model.IsValidPage,
                MainPageLink = "./Index",
            };
        }
        <partial model="@paginationModel" name="_Pagination"/>
    </div>
</div>